streamlit
streamlit-audiorec

gspread
google-cloud-speech
google-cloud-texttospeech
google_cloud_aiplatform

pinecone-client
langchain==0.0.323

trulens_eval==0.17.0
litellm==0.14.1
psycopg2

tqdm
python-dotenv